Flask==3.0.2
Flask-SQLAlchemy==3.1.1
SQLAlchemy==2.0.45
gunicorn==21.2.0
psycopg[binary]==3.3.2
requests==2.31.0
jsonschema==4.20.0
PyNaCl==1.5.0
numpy>=1.26.0
Pillow==10.3.0
defusedxml==0.7.1
python-barcode==0.15.1
qrcode[pil]==7.4.2
pyusb==1.2.1
